@import url('https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');
/* font-family: 'Aguafina Script', cursive; */
/* font-family: 'Libre Franklin', sans-serif; */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

.main {
  background: #333;
}

/* first slide */
#intro {
  height: 100vh;
  width: 100vw;
  background-image: url('./img/coffee.jpeg');
  /* filter: brightness(0.7); */
  animation: enlarge 0.8s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes enlarge {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.greeting {
  font-size: 7rem;
  letter-spacing: 0.5rem;
  font-family: 'Aguafina Script', cursive;
}

.contact {
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  color: white;
  background: black;
  height: 5rem;
  width: 22.5rem;
  border-radius: 5rem;
}

/* second slide */

#bio {
  height: 100vh;
  width: 100vw;
  background: rgb(217, 217, 217);
  font-size: 2rem;
}
.bio-right,
.bio-left {
  float: left;
}

/* left */
.bio-left {
  width: 25vw;
}

.me {
  margin-left: auto;
  margin-right: auto;
}

/* right */
.bio-right {
  width: 75vw;
}

/* skills */

#skills {
  height: 100vh;
  width: 100vw;
  background: white;
}

/* carousel test */

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  background: #8c8;
  counter-increment: gallery-cell;
}

.carousel-cell.is-selected {
  background: #ed2;
}
