@import url('https://fonts.googleapis.com/css?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
/* font-family: 'Aguafina Script', cursive; */
/* font-family: 'Libre Franklin', sans-serif; */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: whitesmoke;
}

/* Navbar */
nav {
  height: 10vh;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  animation: fade-in 2.5s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-items {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.nav-paths {
  width: 15vw;
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
  align-items: center;
  text-decoration: none;
}

.nav-path {
  text-decoration: none;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-icon {
  height: 1em;
}

/* Section: Summary */

#bio {
  height: 30em;
  width: 100%;
  background-image: url('./NY.png');
  background-size:cover;
  background-repeat:   no-repeat;
  background-position: center center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.bio-pic{
  height:12em;
  width: 12em;
  border-radius: 50%;
}

.bio-details{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: whitesmoke;
  width: 50%;
  padding: 0.5em;
}

.btn{
  background: white;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 50px;
}
/* Section: Tools */

#tools {
  height: 100vh;
  width: 100vw;
  background: white;
  font-size: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: space-evenly;
  padding-top: 10vh;
}

.tools-div {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tools-icon {
  height: 17.5rem;
  width: 17.5rem;
}

/* Section: Repos */

#repos {
  height: 100vh;
  width: 100vw;
  background: whitesmoke;
  position: relative;
  overflow: hidden;
}

.cabinet {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  position: absolute;
  overflow-y: scroll;
  height: 80vh;
  width: 100vw;
  bottom: 0;
}

.cabinet::-webkit-scrollbar {
  width: 5px;
}

.files {
  position: absolute;
  background: white;
  height: 90vh;
  width: 100vw;
  bottom: 0%;
  left: 0%;
}

.file {
  background: url('./img/cab.png');
  height: 12.5rem;
  width: 18rem;
  background-size: cover;
  position: relative;
}

.repo-title {
  height: 68%;
  width: 78%;
  display: flex;
  justify-content: center;
  position: absolute;
  font-size: 1.1rem;
  color: black;
  overflow: hidden;
  padding: 2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s;
}

.repo-title:hover {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.file-popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.file-details {
  height: 80%;
  width: 35%;
  background: white;
  transform: translate(100%, 10%);
}


/*Section: Skills*/

#skill{
  display:flex;
  flex-direction:column;
  align-items: center;
  width:50%;
  margin: 2em 25%;
}

.skill-list{
  padding:1em;
  border: 1px solid black;
  transition: all .2s;
}

.skill-list:hover{
  -webkit-box-shadow: 0px 9px 5px -3px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 9px 5px -3px rgba(0,0,0,0.19);
  box-shadow: 0px 9px 5px -3px rgba(0,0,0,0.19);
}

.skill-icon{
  height:1em;
  width:1em;
}

.education-list{
  display: flex;
  justify-content: space-evenly;
}

.education-img{
  height: 10em;
  transition: all .2s;
}

.education-img:hover{
  transform: scale(1.5);
}

.list-item{
  list-style: none;
}

footer{
  background: rgb(81,107,130);
  width:100%;
  height:2em;
 
}